{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>

                            <th class="align-middle">
                                ID
                            </th>
                            <th class="align-middle">
                                Nom
                            </th>
                            <th class="align-middle">
                                Iban
                            </th>
                            <th class="align-middle">
                                Categorie_Action
                            </th>
                            <th class="align-middle">
                                Debit
                            </th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
                      <th class="align-middle">
                          {{ row.ID }}
                      </th>
                      <th class="align-middle">
                          {{ row.Nom }}
                      </th>
                      <th class="align-middle">
                          {{ row.Iban }}
                      </th>
                      <th class="align-middle">
                          {{ row.Categorie_Action }}
                      </th>
                      <th class="align-middle">
                          {{ row.Debit }}
                      </th>

					   <!-- button add desactiver
						<th class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter</a>
					 	 </th>
						-->
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_genre_film_selected', id_film_genres_edit_html=row.ID) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.RefenceAction|default("PAS DE REFENCE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
