{% extends "base.html" %}
{% block title %} Afficher {{table.replace("T_", "")}} {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				{{table.replace("T_", "")}} à disposition.
			</p>
			<div>
				<a class="btn btn-primary" style="margin-bottom: 10px" href="{{ url_for('genres_ajouter_wtf', table=table) }}" role="button">Ajouter</a>
			</div>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        {% for row in data[0] %}
                            <th class="align-middle">
                                {{ row }}
                            </th>
                        {% endfor %}
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
                       {% for data_in in rowData %}
							<td class="align-middle">
								{{ row[data_in] }}
							</td>
                       {% endfor %}
						{% if table != "T_avoir_comptes"%}
							<td class="text-center" class="align-middle">
								<a class="btn btn-warning" href="{{ url_for('genre_update_wtf', table=table, id_genre_btn_edit_html=row['ID']) }}" role="button">Edit</a>
							</td>
						{% endif%}
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('genre_delete_wtf', table=table, id_genre_btn_delete_html=row['ID']) }}" role="button">Delete</a>
						</td>

					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun genre.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

