{% extends "base.html" %}
{% block title %} Editer un {{table.replace("T_", "")}} (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un {{table.replace("T_", "")}}
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
                    {% if table == "T_avoir_comptes" %}
                        <p>
							{{ form_update.Personne_avoirCompte_wtf.label }}<br>
							{{ form_update.Personne_avoirCompte_wtf }}<br>
							{% for error in form_update.Personne_avoirCompte_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form_update.Comptes_avoirCompte_wtf.label }}<br>
							{{ form_update.Comptes_avoirCompte_wtf }}<br>
							{% for error in form_update.Comptes_avoirCompte_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>

					{% endif %}
                    {%  if table == "T_Action" %}
                        <p>
                            {{ form_update.nom_Action_wtf.label }}<br>
                            {{ form_update.nom_Action_wtf(size=32) }}<br>
                            {% for error in form_update.nom_Action_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form_update.type_action_wtf.label }}<br>
                            {{ form_update.type_action_wtf }}<br>
                            {% for error in form_update.type_action_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form_update.Compte_action_wtf.label }}<br>
                            {{ form_update.Compte_action_wtf }}<br>
                            {% for error in form_update.Compte_action_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    {% endif %}
                    {%  if table == "T_Comptes" %}
                        <p>
                            {{ form_update.Nom_Comptes_wtf.label }}<br>
                            {{ form_update.Nom_Comptes_wtf(size=32) }}<br>
                            {% for error in form_update.Nom_Comptes_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form_update.Iban_Comptes_wtf.label }}<br>
                            {{ form_update.Iban_Comptes_wtf(size=32) }}<br>
                            {% for error in form_update.Iban_Comptes_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    {% endif %}
                    {%  if table == "T_references" %}
                        <p>
                            {{ form_update.nom_Reference_wtf.label }}<br>
                            {{ form_update.nom_Reference_wtf(size=32) }}<br>
                            {% for error in form_update.nom_Reference_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    {% endif %}
                    {%  if table == "T_Personnes" %}
                        <p>
                            {{ form_update.Nom_Personnes_wtf.label }}<br>
                            {{ form_update.Nom_Personnes_wtf(size=32) }}<br>
                            {% for error in form_update.Nom_Personnes_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form_update.Prenom_Personnes_wtf.label }}<br>
                            {{ form_update.Prenom_Personnes_wtf(size=32) }}<br>
                            {% for error in form_update.Prenom_Personnes_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form_update.UserName_Personnes_wtf.label }}<br>
                            {{ form_update.UserName_Personnes_wtf(size=32) }}<br>
                            {% for error in form_update.UserName_Personnes_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form_update.PassWord_Personnes_wtf.label }}<br>
                            {{ form_update.PassWord_Personnes_wtf(size=32) }}<br>
                            {% for error in form_update.PassWord_Personnes_wtf.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>

                    {% endif %}

				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

