{% extends "base.html" %}
{% block title %} Ajoute de {{table}} {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter {{table}}
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					{% if table == "Personnes" %}
						<p>
							{{ form.Nom_Personnes_wtf.label }}<br>
							{{ form.Nom_Personnes_wtf(size=30) }}<br>
							{% for error in form.Nom_Personnes_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.Prenom_Personnes_wtf.label }}<br>
							{{ form.Prenom_Personnes_wtf(size=30) }}<br>
							{% for error in form.Prenom_Personnes_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.UserName_Personnes_wtf.label }}<br>
							{{ form.UserName_Personnes_wtf(size=30) }}<br>
							{% for error in form.UserName_Personnes_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.PassWord_Personnes_wtf.label }}<br>
							{{ form.PassWord_Personnes_wtf(size=30) }}<br>
							{% for error in form.PassWord_Personnes_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
					{% endif %}
					{% if table == "Comptes" %}
						<p>
							{{ form.Nom_Comptes_wtf.label }}<br>
							{{ form.Nom_Comptes_wtf(size=30) }}<br>
							{% for error in form.Nom_Comptes_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.Iban_Comptes_wtf.label }}<br>
							{{ form.Iban_Comptes_wtf(size=30) }}<br>
							{% for error in form.Iban_Comptes_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>

					{% endif %}
                    {% if table == "references" %}
						<p>
							{{ form.nom_Reference_wtf.label }}<br>
							{{ form.nom_Reference_wtf(size=30) }}<br>
							{% for error in form.nom_Reference_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>

					{% endif %}
                    {% if table == "Action" %}
						<p>
							{{ form.nom_Action_wtf.label }}<br>
							{{ form.nom_Action_wtf(size=30) }}<br>
							{% for error in form.nom_Action_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
                        <p>
							{{ form.type_action_wtf.label }}<br>
							{{ form.type_action_wtf }}<br>
							{% for error in form.type_action_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.Compte_action_wtf.label }}<br>
							{{ form.Compte_action_wtf }}<br>
							{% for error in form.Compte_action_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>

					{% endif %}
					{% if table == "avoir_comptes" %}
                        <p>
							{{ form.Personne_avoirCompte_wtf.label }}<br>
							{{ form.Personne_avoirCompte_wtf }}<br>
							{% for error in form.Personne_avoirCompte_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.Comptes_avoirCompte_wtf.label }}<br>
							{{ form.Comptes_avoirCompte_wtf }}<br>
							{% for error in form.Comptes_avoirCompte_wtf.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>

					{% endif %}

				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

