{% extends "base.html" %}
{% block title %} Effacer un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer un {{table.replace("T_", "")}}
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete.hidden_tag() }}
				<table class="table table-bordered table-sm">
					{% if data_films_associes %}
						<h3>Cette liaison est associé avec le(s) personnes(s) suivant(s) :</h3>
					{% else %}
						<h3>Cette donnée à effacer n'est associé à aucun comptes.</h3>
					{% endif %}
					{% if data_films_associes %}
						<thead>
							<tr>
								<th>
									{% if table == "T_avoir_comptes"%}
										Personne
									{% endif %}
								</th>
							</tr>
						</thead>
						{% for row in data_films_associes %}
							<tbody>
								<tr>
                                   {% for data_in in data_films_associes[0] %}
                                        <td class="align-middle">
                                            {{ row[data_in] }}
                                        </td>
                                   {% endfor %}
								</tr>
							</tbody>
						{% endfor %}
					{% endif %}
				</table>


				<div class="form-group">
					<p>
						{{ form_delete.nom_genre_delete_wtf.label }}<br>
						{{ form_delete.nom_genre_delete_wtf(size=32, readonly=true) }}<br>
						{% for error in form_delete.nom_genre_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_delete.submit_btn_conf_del(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete.submit_btn_del(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

